.imgForm{
    margin-top: -7rem;
}

.imgRightCard{
    margin-top: -7rem;
}

@media (max-width: 765px) {
    .imgForm{
        margin-top: 15rem;
    }
    .imgRightCard{
        margin-top: 0rem;
    }
}